@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap');





$title-ff:'Aleo', serif;

$body-ff:'Josefin Sans', sans-serif;


$body-color:#e8e8e8;


$primary-color:#5474fd;
$secondary-color:#fff;


$dark-gray:#333333;
$light-gray:#232323;

$body-bg:$light-gray;
$border-width:2px;
